.services-container{
    padding: 80px 0;
    /* width: 100%; */
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* gap: 5rem; */
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    z-index: 100;
}
.services_heading{
    font-size: 60px;
    color: white;
    position: relative;
    z-index: 10;
}
.services_heading::after{
    content:"";
    display:block;
    width: 3.5em;
    /* max-width:50%; */
    border-bottom: 2px solid #0090ee;
    margin: 2px 30px;
}
.s-cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.s-container h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
/* .technologies{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.ts_left{
    width: 40%;
    display: block;
    flex-direction: column;
    justify-content:flex-start;
    margin-top: 100px;
}
.ts_left span{
    font-size: 40px;
    color: rgb(246, 133, 21);
}
.ts_left p{
    width: 80%;
    margin-top: 20px;
    display: block;
    justify-content: flex-start;
}
.ts_right{
    width: 40%;
}
.ts_right img{
    width: 100%;
} */

@media screen and (max-width:480px){
    /* .ts_left{
        margin-top: 0;
        margin-left: 10px;
    }
    .ts_left span{
        font-size: 25px;
    }
    .ts_left p{
        width: 100%;
    }
    .ts_right{
        width: 50%;
        margin-left: 25px;
    }
    .ts_right img{
        margin-top: 50px;
    } */
    .services-container{
        padding: 20px 0;
    }
    .services_heading{
        font-size: 30px;
    }
}