.services-container{
    padding-top: 500px;
    padding-bottom: 80px;
    /* margin-top: 500px; */
    /* width: 100%; */
    background-color: #06283d;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* gap: 5rem; */
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    z-index: 100;
}
.services_heading{
  margin-top: -1000px;
  color: black;
}

.s-cards{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.s-container h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

/* parallax dot effect */
.parallax_dot,
.parallax_dot2{
    width: 700px;
    height: 700px;
    margin-top: -100px;
    /* transform: scale(0.2); */
    border-radius: 50%;
    /*background-color: rgba(255,255,255,0.9);
    */background-color: rgb(240,240,215);
    color: black;
    display: flex;
    position: relative;
    /*z-index: 1;
    */justify-content: center;
    align-items: center;
    border: 20px solid rgba(255,255,255,0.07);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* .parallax_dot2{
    margin-top: -560px;
    background-color: rgba(255,255,255,1);
    width: 70px;
    height: 70px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
} */


@media screen and (max-width:580px){
    .services-container{
        padding: 60px 0;
    }
    .services_heading{
        font-size: 30px;
        margin-top: -680px;
    }
    .parallax_dot{
        width: 320px;
        height :320px;
        margin-top:300px;
    }
   
}