/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */

  .body{
    position: relative;
    background-color: #141619;
    color: #fff;
  }
   
  .hero_container {
   display: flex;
   position: absolute;
   width: 100%;
   align-items: center;
   justify-content: center;
   height: 105vh;
   margin-top: 0;
   margin-bottom: 0;
   position: fixed;
   z-index: 1;
   min-height: 668px;
   background-color: #141619;
   padding: 0;
   overflow: hidden;

  }

.hero_home_video_hld{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 38vh;
  min-height: 228px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

  .hero_home_video_hld::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, #141619 80%, rgba(20, 22, 25, 0));
  }

  .hero_home_video{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 100%;
    object-fit: cover;
    animation: FadeIn 2s ease forwards;
    animation-delay: 1.75s;
    /* opacity: 0; */
  }

  .hero_home_content{
    position: relative;
    margin-top: -60px;
    /* max-width: 80vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    align-content: center;
    transition: all .2s;
  }

  .hero_home_content_desc{
    display: flex;
    font-size: 18px;
    max-width: 38vw;
    justify-content: center;
    align-content: flex-center;
    text-align: center;
    transition: all .2s;
    opacity: 0.7;
  }

  .hero_home_contact_btn{
    margin-top: 50px;
    /* width: 10vw; */
    max-width: 200px;
    display: flex;
    justify-content: center;
    height: 40px;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 50px;
    position: relative;
    z-index: 1000;
    background-color: #141619;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 35px;
    transition: all .2s;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  .hero_home_contact_btn::before{
    content: "";
    width: 18rem;
    height: 5rem;
    position:absolute;
    top: -80px;
    background-color: #0090ee;
    border-radius: 70%;
    transition: all .4s ease-in-out;
    z-index: -1;
  }
  .hero_home_contact_btn:hover:before{
    top: -10px;
    transition: all .4s ease-in-out;
  }
  /* .hero_home_contact_btn{
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    z-index: 1000;
  }
  .hero_home_contact_btn button{
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    color: #fff;
    background-color: #141619;
    border: 1px solid #fff;
    outline: none;
    box-shadow: 0 0.3 rem rgba(121,121,121,0.70);
  } */
.typewriter{
  font-size: 90px;
  color: #fff;
  font-weight: 600;
  /* width: 100%; */
}

/* social accounts */
.hero_home_social{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: absolute;
  right: 30px;
  bottom: 160px;
  justify-content: center;
  align-items: center;
}
.hero_home_social_icon{
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #141619;
}
.instagram:hover{
  background: linear-gradient(#4f5bd5,#962fbf,#d62976,#fa7e1e,#feda75);
  color: #fff;
}
.facebook:hover{
  background-color: #3b5998;
  color: #fff;
}
.linkedin:hover{
  background-color: #0A66C2;
  color: #fff;
}
.twitter:hover{
  background-color: #1DA1F2;
  color: #fff;
}



  /* ----------in bubble 1st -------------------------------------------- */
  .bubble-body-outer{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .inBubble{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
    animation: animate 4s ease-in-out infinite;
  }
  
  .inBubble span{
    position: absolute;
    border-radius: 50%;
  }
  
  .inBubble span:nth-child(1){
    inset: 10px;
    border-left: 15px solid #0fb4ff;
    filter: blur(18px);
  }

  .inBubble span:nth-child(2){
    inset: 10px;
    border-right: 15px solid #ffffff;
    filter: blur(18px);
    transform: rotate(330deg);
  }

  .inBubble:nth-child(2){
    width: 300px;
    height: 300px;
    animation-delay: -3s;
  }
  .inBubble:nth-child(3){
    width: 400px;
    height: 400px;
    animation-delay: -2s;
  }
  .inBubble:nth-child(4){
    width: 500px;
    height: 500px;
    animation-delay: -3s;
  }
  
  /* ----------In bubble 2nd -------------------------------------------- */
  /* .inBubble2{
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
    animation: animate2 5s ease-in-out infinite;
   
  }

  .inBubble2 span{
    position: absolute;
    border-radius: 50%;
  }
  
  .inBubble2 span:nth-child(1){
    inset: 15px;
    border-left: 5px solid #d5d1d1;
    filter: blur(8px);
  }

  .inBubble2 span:nth-child(2){
    inset: 10px;
    border-right: 5px solid #2693c6;
    filter: blur(10px);
    transform: rotate(350deg);
  } */


  .inBubble:nth-child(5){
    width: 600px;
    height: 600px;
    animation-delay: -6s;
  }
  .inBubble:nth-child(6){
    width: 700px;
    height: 700px;
    animation-delay: -5.6s;
  }
  .inBubble:nth-child(7){
    width: 800px;
    height: 800px;
    animation-delay: -7s;
  }
  .inBubble:nth-child(8){
    width: 900px;
    height: 900px;
    animation-delay: -9s;
  }
  

  
  /* ----------In bubble 1st animation -------------------------------------------- */

  @keyframes animate {
    0%{
      transform:scale(1)
      
    }
    /* 25%{
      transform: translate(-650px, 40px); 
    }
    75%{
      transform: translate(650px, 50px);
      
    } */
    50%{
      
      transform:scale(1.25)
    }
    100%{
      transform:scale(1)

    }
   
  }
  
  @keyframes animate2 {
    100%{
      transform:scale(1)
      
    }
    /* 75%{
      transform: translate(-700px, 10px);
      
    }
    25%{
      transform: translate(700px, 10px);
      
    } */
    50%{
      
      transform:scale(1.25)
    }
    0%{
      transform:scale(1)

    }
   
  }

/* ------------------------------------------------------------------ */
/* --------------------------------------------------------------------- */

  @media screen and (max-width:1150px){
    .typewriter{
      font-size: 70px;
   }
   .hero_home_content_desc{
     font-size: 15px;
     max-width: 50vw;
   }
   .hero_home_contact_btn{
     margin-top: 10px;
     font-size: 1.2rem;
     padding: 5px 30px;
     
   }
   .hero_home_content{
     margin-top: -100px;
   }
   .hero_container{
     height: 90vh;
    }
    .hero_home_social{
     right: 20px;
     bottom: 150px;
    }
    .hero_home_social_icon{
     width: 40px;
     height: 40px;
    } 
 }

 @media screen and (max-width:920px){
   /* .typewriter{
     font-size: 50px;
  } */
  /* .hero_home_content_desc{
    font-size: 15px;
  } */
  /* .hero_home_content{
    margin-top: -180px;
  } */
  .hero_home_social{
   right: 20px;
   bottom: 220px;
  }
  .hero_container{
   height: 70vh;
  }
  .hero_home_contact_btn{
   margin-top: 150px;
  }

 }
 
 @media screen and (max-width:560px){
   .typewriter{
     font-size: 45px;
     /* margin-bottom: 30px; */
  }
  .hero_home_content_desc{
    font-size: 12px;
    /* width: 250px; */
    /* margin-top: 60px 0 60px 0; */
    /* margin-top: 40px; */
  }
  .hero_home_contact_btn{
   margin-top: 30px;
   padding: 2px 20px;
   border-radius: 1.5rem;
   font-size: 25px;
  }
  .mobile_view_hero{
   visibility: hidden;
  }
 }
 @media screen and (max-width:480px) {
   .typewriter{
    font-size: 30px;
   }
   .hero_home_content_desc{
     max-width:265px;
     /* font-size: 11px; */
   }
   .hero_home_contact_btn{
     margin-top: 10px;
     padding: 2px 20px;
     border-radius: 1.5rem;
     font-size: 18px;
    }
    .hero_container{
     height: 600px;
    }
 }

 @media (max-width: 480px){

  .inBubble{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
    animation: animatephoneright 14s ease-in-out infinite;
  }
  .inBubble:nth-child(2){
    display: none;
    zoom: 1.25;
    animation-delay: -5s;
  }
  .inBubble:nth-child(3){
    zoom: 0.95;
    animation-delay: -7s;
  }
  .inBubble:nth-child(4){
    zoom: 0.75;
    animation-delay: -5s;
  }
  
  .inBubble span{
    position: absolute;
    border-radius: 50%;
  }
  
  .inBubble span:nth-child(1){
    inset: 10px;
    border-left: 15px solid #0fb4ff;
    filter: blur(8px);
  }

  .inBubble span:nth-child(2){
    inset: 10px;
    border-right: 15px solid #ffffff;
    filter: blur(8px);
    transform: rotate(330deg);
  }

  /* ----------bubble 2-------------------- */
  .inBubble2{
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
    animation: animatePhone 15s ease-in-out infinite;
    /* zoom: 0.8; */
  }

  .inBubble2 span{
    position: absolute;
    border-radius: 50%;
  }
  
  .inBubble2 span:nth-child(1){
    inset: 15px;
    border-left: 5px solid #d5d1d1;
    filter: blur(8px);
  }

  .inBubble2 span:nth-child(2){
    inset: 10px;
    border-right: 5px solid #0fb4ff;
    filter: blur(8px);
    transform: rotate(350deg);
  }


  .inBubble2:nth-child(5){
    display: none;
    zoom: 1.35;
    animation-delay: -3s;
  }
  .inBubble2:nth-child(6){
    zoom: 0.95;
    animation-delay: -70s;
  }
  .inBubble2:nth-child(7){
    zoom: 0.80;
    animation-delay: -5s;
  }
 }

 @keyframes animatePhone {
  100%{
    transform: translate(10px, -180px);
    
  }
  75%{
    transform: translate(-350px, 10px);
    
  }
  50%{
    
    transform: translate(10px, 250px);
  }
  25%{
    transform: translate(150px, 10px);
    
  }
  0%{
    transform: translate(10px, -180px);

  }

}

  @keyframes animatephoneright {
    0%{
      transform: translate(30px, -420px);
      
    }
    25%{
      transform: translate(-350px, 40px); 
    }
    50%{
      
      transform: translate(30px, 350px);
    }
    75%{
      transform: translate(350px, 50px);
      
    }
    100%{
      transform: translate(30px, -420px);

    }
  }