@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Philosopher&family=Rubik+Storm&family=Special+Elite&display=swap');

.slider-container-hld{
  background-color: black;
  display: flex;
  position: relative;
}
.client_back{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 180px;
  background-color: black;
  position: relative;
  z-index: 100;
  padding-bottom: 50px;
}
.slider-container {
  /* margin-top: 150px; */
  padding-top: 10px;
  width: 100%;
  height: 180px;
  background-color: rgba(254,255,254,0.7);
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  /* border-bottom: 1px solid rgba(254,255,254,1.5) ; */
  text-align: center;
  gap: 1.5rem;
  position: relative;
  z-index: 100;
  border-radius: 0px 0px 75px 75px;
  /* bottom: -100px; */
  z-index: 101;
  border: none;
  overflow: hidden;
}
.slider-container span {
  font-weight: 600;
  /* font-family: 'Special Elite', cursive; */
  font-size: 28px;
  color: black;
  margin-bottom: 20px;
}

.logo_contain_hld {

  width: 90%;
  height: 100px;
  display: flex;
  /* flex-direction: column; */
  object-fit: cover;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.logo_contain{
  display: flex;
  /* gap: 10px; */
  /* width: 10px;
  height: 100%; */
  align-items: center;
  justify-content: center;
  /* height: 10px; */
  /* object-fit: cover; */
}
.logo_contain img{
  /* width: 180px; */
  height: 50px;
  object-fit: cover;
}
.client_mobile_view{
  display: none;
}

@media screen and (max-width:1100px) {
  .logo_contain img{
    height: 30px;
  }
  .slider-container span{
    font-size: 25px;
  }
}

@media screen and (max-width:540px) {
  .slider-container span {
    font-size: 16px;
    /* margin-bottom: -20px; */
    /* margin-top: -30px; */
  
  }

  .slider-container {
   /* margin-top: -20px; */
    /* padding-top: -150px; */
    height: 150px;
    gap: 0;
    border-radius: 0 0 40px 40px;
  }

  .slider-container img {
    /* width: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; 
    padding: 0 20px 0 50px; 
  }
  .client_back{
    height: 140px;
  }
  .client_web_view{
    display: none;
  }
  .client_mobile_view{
    display:flex;
  }
}