@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Philosopher&family=Rubik+Storm&family=Special+Elite&display=swap');

.slider-container {
  /* margin-top: 500px; */
  padding-top: 40px;
  width: 100%;
  height: 220px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  border-bottom: 1px solid rgba(254,255,254,0.2) ;
  text-align: center;
  gap: 0.5rem;
  position: relative;
  z-index: 100;
}

.slider-container span {
  font-weight: normal;
  /* font-family: 'Special Elite', cursive; */
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
}

.slider-container .swiper {

  display: flex;
  flex-wrap: wrap;
}

.brand-slider {

  width: 90%;
  display: flex;
  flex-direction: column;
}

.brand-slider .swiper-slide {
  width: 20rem;
}

.slider-container img {
  width: 10vw;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width:480px) {
  .slider-container span {
    font-size: 20px;
    /* margin-bottom: -20px; */
    margin-top: -30px;
  }

  .slider-container {
   /* margin-top: -20px; */
    /* padding-top: -150px; */
    height: 180px;
    gap: 0;
  }

  .slider-container img {
    width: 80px;
  }
  .brand-slider{
    margin-top: -30px;
  }
}