@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Philosopher&family=Rubik+Storm&family=Special+Elite&display=swap');

.slider-container-hld{
  display: flex;
  justify-content: center;
  position: relative;
}
.slider-container {
  /* margin-top: 150px; */
  padding-top: 20px;
  width: 80%;
  height: 180px;
  background-color: rgba(254,255,254,0.8);
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  border-bottom: 1px solid rgba(254,255,254,0.2) ;
  text-align: center;
  gap: 0.5rem;
  position: relative;
  z-index: 100;
  border-radius: 60px;
  bottom: -100px;
  z-index: 1000;
}

.slider-container span {
  font-weight: normal;
  /* font-family: 'Special Elite', cursive; */
  font-size: 28px;
  color: white;
  margin-bottom: 20px;
}

.logo_contain_hld {

  width: 90%;
  display: flex;
  /* flex-direction: column; */
  object-fit: cover;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.logo_contain{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 150px;
  align-items: center;
  justify-content: center;
  /* height: 10px; */
  /* object-fit: cover; */
}
.logo_contain img{
  width: 100%;
}

@media screen and (max-width:480px) {
  .slider-container span {
    font-size: 20px;
    /* margin-bottom: -20px; */
    margin-top: -30px;
  }

  .slider-container {
   /* margin-top: -20px; */
    /* padding-top: -150px; */
    height: 180px;
    gap: 0;
  }

  .slider-container img {
    width: 80px;
  }
  .brand-slider{
    margin-top: -30px;
  }
}