.serviceCard {
    /* width: 30vw; */
    max-width: 500px;
    height: 500px;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease-out;
    padding: 30px;
}

.card_vector::before{
    content: "f015";
    width: 130px;
    height: 130px;
    padding: 20px;
    /* margin-left: -25px; */
    margin-bottom: -85px;
    position: relative;
    z-index: 10;
    border-radius: 1.5rem;
    background-color: white;
    /* -webkit-transition: all 300ms 0s ease-in-out; */
    transition: all 1s ease-in-out;
    display: inline-block; 
    opacity: 0;

}
.card_vector {
    padding: 20px;
    margin-bottom: -20px;
    margin-left: -25px;
    position: relative;
    z-index: 10;
    border-radius: 1.5rem;

}
/* .card_content_back{
    color: white;
    font-size: 15px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 1.5rem;
    align-items: center;
    opacity: 0;
    padding: 120px 40px 40px 40px;
    background: rgb(12, 12, 130);
    background: linear-gradient(330deg, rgba(12, 12, 130, 1) 41%, rgba(181, 183, 224, 0.9921218487394958) 100%);
} */
/* .card_content::before{
    content: "";
    color: white;
    font-size: 15px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 1.5rem;
    align-items: center;
    opacity: 1;
    padding: 120px 40px 40px 40px;
    background: rgb(12, 12, 130);
    background: linear-gradient(330deg, rgba(12, 12, 130, 1) 41%, rgba(181, 183, 224, 0.9921218487394958) 100%);
} */
.card_content {
    color: white;
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 1.5rem;
    align-items: center;
    padding: 120px 40px 40px 40px;
    /* background-color: white; */
    /* filter: blur(5px); */
    /* opacity: 0.6; */
    border: 1px solid black;
    background: linear-gradient(180deg,#0668a5  20%, #06283d 100%);
  
}

.card_vector img {
    width: 115px;
    margin: 0px 0 -105px -143px;
    position: relative;
    z-index: 1000;

}

.card_content h1 {
    /* margin-top: 30px; */
    margin-bottom: 20px;
    font-size: 25px;
}
.card_content p{
    max-width: 350px;
    font-size: 16px;
    opacity: 0.6;
}
.serviceCard:hover {
    cursor: pointer;
}
.serviceCard:hover .card_vector::before{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 1;
    transition: all 1s ease-in-out;
}

.serviceCard:hover .card_content{
    /* background-color: #6929c7; */
    /* background:linear-gradient(to right,#6929c7,#277df9); */
    /* background: rgb(12, 12, 130);
    background: linear-gradient(330deg, rgba(12, 12, 130, 1) 41%, rgba(181, 183, 224, 0.9921218487394958) 100%); */
    /* background: rgb(255, 255, 255,0.3); */
    /* background: linear-gradient(180deg, rgb(14, 14, 15) 50%, rgb(255, 255, 255,0.5) 100%); */
    background: linear-gradient(180deg,#0668a5  20%, #06283d 100%);
    border: 1px solid rgb(255, 255, 255,0.4);
    color: white;
    /* opacity: 0.7; */

    transition: all 1s;
}

.serviceCard:hover .card_content h1 {
    color: white;
    position: relative;
    z-index: 1000;
}

.serviceCard:hover .card_content p {
    color: white;
}

/* .shadow{
    background-color: #fff;
    width: 220px;
    height: 100px;
    position: relative;
    z-index: 1;
    margin-top: -100px;
    opacity: 0.2;
    border-radius: 2rem;
    overflow: hidden;
    filter: blur(8px);
    visibility: hidden;
    opacity: 0;
} */
/* .shadow img{
    width: 100%;
} */
.sc_btn {
    width: 110px;
    /* height: 50px; */
    background-color: #0090ee;
    border-radius: 5px;
    margin-top: 15px;
    /* transition: visibility 1s; */
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 2px;
    border: none;
    transition: all .1s;
    text-decoration: none;
    cursor: none;
}

/* sc_btn::after {
    content: "";
    top: 10px;
    margin-top: 20px;
    position: relative;
    z-index: 1000;
    width: 120px;
    height: 100px;
    background-color: black;
} */

.serviceCard:hover .sc_btn {
    visibility: visible;
    transition: visibility 1s;
    opacity: 1;
    transition: opacity 1s;
}

.serviceCard:hover .shadow {
    visibility: visible;
    transition: all 1s;
}

@media screen and (max-width:480px) {
    /* .serviceCard{
        width: 350px;
    }
    .v-content{
        width: 350px;
    } */
    .card_content h1{
        font-size: 20px;
    }
    .card_content p{
        font-size: 13px;
        /* width: 380px; */
    }
}

/* 
#6929c7
#277df9 */