.about-top-main{
    padding-top: 80px;
    background-color: black;
    /* background-image: url(../../image/service3.png); */
}

.img-div{
    height: 35vh;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 8px;
    object-fit: cover;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}
.horizontalLine{
    width: 80%;
    margin-top: -20px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    /* background-color: rgb(153, 127, 255); */
}
.line-inner{
    width: 80%;
}
.arrow-btn{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-btn:hover{
    color: black;
    background-color: #0990ee;
    border-radius: 60%;
}

.about-top-main{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-about-us{
    margin-top: 20px;
    margin-bottom: 5vh;
}

/* .img-div img{
    width: 25%;
    height: 80%;
    border-radius: 5px;
    margin-top: auto;
} */

.img-non-selected{
    width: 20%;
    height: 60%;
    opacity: 0.4;
    border-radius: 5px;
    margin-top: auto;
}
.img-top-1{
    width: 20%;
    height: 65%;
    opacity: 0.4;
    border-radius: 5px;
    margin-top: auto;
}
.img-top-2{
    width: 20%;
    height: 60%;
    opacity: 0.4;
    border-radius: 5px;
    margin-top: auto;
}
.img-top-3{
    width: 20%;
    height: 40%;
    opacity: 0.4;
    border-radius: 5px;
    margin-top: auto;
}
.img-selected{
    width: 40%;
    height: 90%;
    border-radius: 5px;
    margin-top: auto;
}
.img-app-selected{
    width: 25%;
    height: 90%;
    margin-left: 20px;
    
    border-radius: 5px;
    margin-top: auto;
}
.img-wp-selected{
    width: 30%;
    height: 90%;
    border-radius: 5px;
    margin-top: auto;
}


.lower-nav{
    width: 70%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
}
.sub-service{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.link:hover{
    color: rgb(73, 131, 255);
}
.link-select{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.div-selected{
    /* text-decoration: none; */
    text-align: center;
    /* background-color: #0090ee; */
    color: white;
    border-radius: 30px;
    width: 35%;
}



/* .sub-service:hover{
    background-color: rgb(157, 175, 229);
    color: white;
    border-radius: 5px;
} */

/* ^^^^^ Above is From Services Full Page ^^^^^^ */
/* -------------------------------------------------------------------- */
.top-main-container{
    background-color: rgb(255, 0, 0);
}

.main-container{
    /* width: 90%; */
    /* background-color: rgb(236, 22, 22); */
    color: white;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
}
.page-title{
    width: fit-content;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom: 20px;
}
.title-line{
    width: 90%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
}

.page-content{
    width: 80%;
    /* height: 40vh; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-content p{
    font-size: 1.2rem;
    margin-top: 10px;
    align-items: center;
}

.image-div{
    width: 30%;
    /* height: 400px; */
    object-fit: cover;
    /* height: 100px; */
    /* background-color: aquamarine; */
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-div-mobile{
    display: none;
}
.image-div-web{
    width: 25%;
    /* height: 400px; */
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:aqua; */
}
.image-div-web img{
    width: 100%;
}


.app-dev-img{
    width: 90%;
    /* height: 25%; */
    object-fit: cover;
    border-radius: 5px;
}

.text-div{
    width: 50%;
    /* flex-grow: 0.6; */
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    /* background-color: aqua; */
}

.text-div p{
    font-size: 1.1rem;
    /* margin-top: auto; */
}
.app-dev-text{
    /* padding: auto; */
    text-align: justify;
}
.text-div-full{
    width: 75%;
    text-align: center;
    margin-top: 20px;
    /* background-color: blanchedalmond; */
}
.text-div-full p{
    font-size: 1.3rem;
}
.cardComp{
    width: 75%;
    /* background-color: antiquewhite; */
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------------------- */
/* --------------Media Query------------------- */
/* ----------------------------------------------------- */
@media (max-width: 580px){
    
    .main-container{
        width: 100%;
        /* align-items: center; */
        /* background-color: aqua; */
    }
    .img-div{
        display: none;
    }
    .lower-nav{
        width: 90%;
        border-radius: 40px;
    }
    .sub-service{
        width: 25%;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sub-service h4{
        font-size: 0.6rem;
        text-align: center;
    }
    .div-selected{
        width: 35%;
        border-radius: 40px;
    }
    .div-selected h4{
        font-size: 1rem;
        text-align: center;
    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .page-content{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 95%;
        /* background-color: antiquewhite; */
    }
    .image-div{
        width: 100%;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        /* background-color: aqua; */
    }
    .text-div{
        width: 95%;
        text-align: center;
        font-size: 1rem;
    }
    .text-div p{
        font-size: 1rem;
    }
    .image-div-web{
        display: none;
    }
    .image-div-mobile{
        display: flex;
        justify-content: center;
    }
    .text-div-full{
        width: 100%;
    }
    .cardComp{
        width: 100%;
    }
    

}

@media (min-width: 768px) and (max-width: 920px){
    .main-container{
        width: 100%;
    }
    .img-div{
        display: none;
    }
    .lower-nav{
        width: 90%;
        border-radius: 40px;
    }
    .sub-service{
        width: 25%;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sub-service h4{
        font-size: 0.8rem;
        text-align: center;
    }
    .div-selected{
        width: 35%;
        /* border-radius: 40px; */
    }
    .div-selected h4{
        font-size: 1.4rem;
        text-align: center;
    }
    .horizontalLine{
        width: 90%;
        margin-top: -20px;
        display: flex;
        justify-content:space-around;
        align-items: center;
        /* background-color: rgb(153, 127, 255); */
    }
    .line-inner{
        width: 80%;
    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .page-content{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 95%;

        /* background-color: antiquewhite;*/
    }
    .image-div{
        width: 90%;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        
        /* background-color: aqua; */
    }
    .text-div{
        width: 90%;
        text-align: center;
    }
    .image-div-web{
        display: none;
    }
    .image-div-mobile{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .text-div-full{
        width: 100%;

    }
    
}