.about-top-main{

}

.img-div{
    height: 400px;
    width: 100vw;
    object-fit: cover;
    background-image: url('../../image/service3.png');
    display: flex;
    /* justify-content: space-between; */
}

.img-div img{
    width: 25%;
    height: 50%;
    border-radius: 5px;
    margin-top: auto;

    background-color: aquamarine;
}

.lower-nav{
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.sub-service{
    width: 30%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}