.Appss {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #06283d;
    top:0;
    height: 750px;
    overflow: hidden;

  }

  .bottom-layer{
    height:500px;
    position: relative;
    top:-40px;
  }
  
  .cars-disp{
    position: relative;
    height:500px;
    top:-90px;
    background-position: center;
  }

  

  .anu-head{
    color:white;
    text-align: center;
    font-size: 2rem;
    position: relative;
    font-weight: 700;
    top:70px;
  }

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
  }
  .rec.rec-dot {
    visibility: hidden;
  }

  .swiper-slide{
    width:300px;
  }

  .bgdiv{
    height:400px;
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .bgdiv .immage img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: all .3s;
    /* opacity: 0.6; */
  }

  .immage{
    width: 400px;
    height: 800px;
    display: flex;
    position: relative;
    top:-100px;
    z-index:1000;

  }

  .slide-track{
    display:flex;
    width:calc(350px*6);
  }

  @keyframes scroll{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(calc(-350px*3));
    }
  }

  .slide-reverse{
    display:flex;
    width:calc(350px*6);
  }
  @keyframes scrollside{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(calc(350px*3));
    }
  }


  .bgdiv hr{
    color: white;
    width: 2rem;
    height: 2rem;
  }

  .bgdiv .s1{
    color: #FFFFFF;
    margin-top: 1rem;
    font-size: 2rem;
  }

  .bgdiv .s2{
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #d1cfcf;
    margin-top: 1rem;
    font-size: 1.2rem;
    width: 400px;
    margin: auto;
  }

  .part1{
    display:flex;
    /* flex-direction:row; */
  }


  .hidden-content{
    background-color: white;
    height:300px;
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    opacity:1;
    transition: all 1.2s;
    bottom: -100px;
    border-radius: 10px;
    transition: 0.3s;
  }

  

  .bgdiv:hover .hidden-content{
    bottom: -100px;
    transform: scale(1.1);
  }
  .s2{
    display: flex;
  }


  .bgdiv:hover .immage img{
    transform: scale(1.1);
    opacity:1
  }

.anu-elipse::before{
    background-color: aqua;

}
.heading-hide{
  position:relative;
  bottom: -93px;
  font-size: 20px;
  font-weight: 600;
}

