.Appss {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #06283d;
    top:0;
    height: 800px;
    overflow: hidden;
  }

  .bottom-layer{
    position: relative;
    top:75px;
  }
  
  .cars-disp{
    position: relative;
    top:200px;
    margin-right:280px;
    height:300px;
  }
/* 
  .swiper-wrapper{
    height:400px;
  } */

  .anu-head{
    color:white;
    text-align: center;
    font-size:50px;
    position: relative;
    top:-80px;
    /* left:-5px; */
    font-weight: 700;
    text-align: center;
    justify-content: center;
  }
  .anu-head::after {
    content: "";
    display: block;
    width: 3.5em;
    /* max-width:50%; */
    border-bottom: 2px solid #0090ee;
    margin: 2px 30px;
}

  .rec.rec-dot {
    visibility: hidden;
  }

  .swiper-slide{
    width:300px;
  }

  .bgdiv{
    height:400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .bgdiv .immage img{
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: all .3s;
    /* opacity: 0.6; */
  }

  .immage{
    width: 500px;
    height: 1000px;
    display: flex;
    position: relative;
    top:-100px;
    z-index:1000;

  }


  .part1{
    display:flex;
    /* flex-direction:row; */
  }


  .pano_web_view .hidden-content{
    background-color: white;
    height:300px;
    width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    opacity:1;
    transition: all 1.2s;
    bottom: -100px;
    /* border-radius: 10px; */
    transition: 0.3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  

  .bgdiv:hover  .hidden-content{
    bottom: -280px;
    transform: scale(1.1);
  }
  .s2{
    display: flex;
  }


  .bgdiv:hover .immage img{
    transform: scale(1.1);
    opacity:1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

.anu-elipse::before{
    background-color: aqua;

}
.heading-hide{
  position:relative;
  bottom: -44px;
  font-size: 25px;
  font-weight: 600;
}

.pano_mobile_view{
  display: none;
}

@media screen and (max-width:480px){
  .pano_web_view{
    display:none;
  } 
  .bgdiv{
     /* width:700px; */
   }
   .pano_mobile_view {
    display: flex;
    /* border:1px solid red; */
    height:580px;
   }

   .pano_mobile_view .immage img{
      object-fit: inherit;
   }

   .immage{
    width: 48%;
    height: 65%;
  }
  .pano_mobile_view .hidden-content{
    height:110px;
    width:285px;
    /* z-index: 1000; */
    top: 350px;
  }
  .bgdiv:hover .hidden-content{
    /* height:110px;
    width:285px;
    bottom: -200px; */
    /* display: none; */
  }
  .heading-hide{
    bottom: -72px;
  }

 .pano_mobile_view .cars-disp{
    position: relative;
    /* height:400px; */
    margin-top: 30px;
    /* margin-bottom: 3px; */
    left:-100px;
    /* top:30px; */
    /* top:-500px; */
  }

  .anu-head{
     top:-4px;
     font-size: 30px;
  }
}