*{
    margin: 0;
    padding: 0;
}
.p-container{
    /* padding-top: 50px; */
    /* width: 100%; */
    padding-bottom: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* gap: 5rem; */
    flex-wrap: wrap;
    /* overflow-x: hidden; */
    overflow: hidden;
    position: relative;
    z-index: 100;
}
.portfolio_heading{
    font-size: 50px;
    color: white;
    position: relative;
    z-index: 10;
}
.portfolio_heading::after{
    content:"";
    display:block;
    width: 3.5em;
    /* max-width:50%; */
    border-bottom: 2px solid #0090ee;
    margin: 0px 30px;
}
.portfolio_cards{
    display: flex;
    padding:  50px 90px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    
}
.portfolio_btn{
    color: #fff;
    background-color: #0090ee;
    padding: 5px 20px;
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
    /* box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 48px, rgba(255, 255, 255, 0.1) 0px 10px 12px; */
}
.portfolio_btn:hover{
    cursor: pointer;
    background-color: #0070bd;
}
.portfolio_subHeading{
    margin-top: 30px;
    font-size: 25px;
    color: rgb(255,255,255, 0.7);
}
@media screen and (max-width:1200px) {
    .portfolio_cards{
        padding: 50px 20px;
        gap: 1rem;
    }
}

@media screen and (max-width:480px){
    .c-row1{
        margin: 100px 0px 100px 0px;
        gap: 1.2rem;
    }
    .portfolio_btn{
        font-size: 14px;
        padding: 2px 10px;
        border-radius: 5px;
    }
}

