#main {
    padding-top: 85px;
    background-color: #06283d;
    color: #fff;
    /* height: 4000px; */
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
}

#main-content {
    display: flex;
    vertical-align: baseline;
}

/* card container css */

.story-container-hld {
    display: inline-block;
    align-items: center;
    transition: all 1s;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    width: 100%;
}

.storyCard-container {
    background-color: #06283d;
    margin-top: -50px;
    display: flex;
    gap: 8vw;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
}

.title_and_content_hld {
    width: 40%;
    display: block;
    overflow: hidden;
}

.title_and_content_hld h1 {
    font-size: 2.6vw;
    /* font-size: 40px; */
}

.title_and_content_hld p {
    padding-top: 10px;
    font-size: 18px;
    font-size: 1.15vw;
    text-align: justify;
    line-height: 1.8rem;
    line-height: 1.87vw;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
}

.story_image_hld {
    width: 30%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story_image_hld img {
    width: 100%;
    position: relative;
    z-index: 1;
}

#first_client .story_image_hld {
    transform: scale(.7);
}

#newOffice .story_image_hld {
    transform: scale(.8);
}

#awards .storyCard-container{
    margin-top: 50px;
}
#awards .story_image_hld {
    transform: scale(.6);
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -ms-transform: scale(.6);
    -o-transform: scale(.6);
}

#awards .title_and_content_hld,
#awards .story_image_hld {
    margin-top: -50px;

}

/* play button on video */
.content {
    position: absolute;
    display: inline-block;
    /* transform: translate(-60%, -50%); */
    /* top: 50%;
    left: 50%; */
    color: rgba(255, 255, 255);
    width: 100%;
    text-align: center;
    z-index: 999;
}

.play {
    font-size: 50px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 30%;
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
}

.story_image_hld video {
    width: 80%;
}

.play:hover {
    color: #0090ee;
}


/* cards animation classes */

.story_pandemic_phase {
    right: -3000px;
    opacity: 1;
}

.story_first_client {
    opacity: 1;
    bottom: -1500px;
}

.story_newOffice {
    right: -3000px;
    opacity: 1;
    top: 80px;
}

.story_award {
    opacity: 1;
    bottom: -1500px;
}

.showBegining {
    opacity: 1;
}

.showPandemic {
    opacity: 1;
    right: 0;
}

.showClient {
    opacity: 1;
    bottom: -80px;
}

.showOffices {
    opacity: 1;
    right: 0;

}

.showAwards {
    opacity: 1;
    bottom: 0px;
}


/* story_next_pre_buttons */

.story_next_pre_buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    /* padding-left: 20px; */
}

.story_next_pre_buttons {
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content:center;
    bottom: 20px;
    align-items: center;

}

.story_page_no {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    /* background-color: #141414; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.story_prev_button,
.story_next_button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* background-color: rgb(0,0,0,0.6); */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.next_arrow,
.prev_arrow{
    /*transform: translateX(10px);
    */background-color: rgb(0,0,0,0.6);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
}


@media screen and (max-width:1400px) {
    .storyCard-container {
        gap: 5vw;
    }

}

@media screen and (max-width:920px) {
   .title_and_content_hld{
    width: 50%;
   }
}

@media screen and (max-width:700px) {
    .story-container-hld {
        /* display: flex; */
        /* padding-bottom: 100px; */
        justify-content: center;
    }

    .storyCard-container {
        padding: 0;
        width: 100%;
        display: flex;
        /* padding: 14px; */
        flex-direction: column;
        justify-content: center;
        margin-top: -120px;
        gap: 2vw;
    }

    .story_image_hld {
        padding-top: 10px;
        width: 90%;
    }

    .title_and_content_hld {
        display: block;
        width: 90%;
        padding: 0;
    }
    .title_and_content_hld h1 {
        font-size: 30px;
    }
    .title_and_content_hld p {
        font-size: 16px;
        line-height: 1.8rem;
    }

    .story_begining .storyCard-container {
        height: 1500px;
    }

    .story_begining .title_and_content_hld {
        display: block;
        position: relative;
        width: 90%;
        /* margin-top: -120px; */

    }

    .story_begining .story_image_hld {
        padding-top: 30px;
        width: 90%;
    }

    .story_pandemic_phase .storyCard-container {
        height: 1300px;
    }

    .story_pandemic_phase .title_and_content_hld {
       margin-top: 20px;
    }

    .story_pandemic_phase .story_image_hld {
        margin-top: -40px;
}

    .story_first_client .storyCard-container {
        height: 1150px;
        /* position: relative; */
        bottom: 0;
    }

    .story_first_client .title_and_content_hld {
        margin-top: 80px;
        margin-left: -12px;
    }

    .story_first_client .story_image_hld {
        /* transform: translateY(-350px); */
        width: 400px;
        /* margin-left: -8px; */
        margin-top: -70px;
        margin-left: -12px;
    }

    #newOffice {
        padding-top: 50px;
        margin-top: -100px;
    }

    #newOffice .story_image_hld {
        transform: scale(1);
        margin-top: 80px;
    }

    .story_newOffice .storyCard-container {
        top: 0;
        height: 1250px;
        /* z-index: 1111111; */
    }

    .story_award .storyCard-container {
        height: 1250px;
        /* padding-top: -900px; */
    }

    .story_award .title_and_content_hld {
        padding-top: 50px;
    }

    #awards .story_image_hld {
        margin-top: -40px;
        transform: scale(.8);
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
    }

}