#main {
    padding-top: 85px;
    background-color: black;
    color: #fff;
    height: 5000px;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
}

#main-content {
    display: flex;
    vertical-align: baseline;
}

/* card container css */

.story-container-hld {
    display: inline-block;
    align-items: center;
    transition: all 1s;
    /* max-height: 1500px; */
    height: 100%;
    /* background-color: ; */
    /* transition: 10s all ease; */
    position: fixed;
    overflow-x: hidden;
    width: 100%;
    /* max-width: 3000px; */
}

.storyCard-container {
    background-color: rgb(38, 57, 89);
    /* padding-top: -100px; */
    margin-top: -50px;
    display: flex;
    gap: 8vw;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* transition: transform 5000s;
    transition-delay: 5000s; */
    flex-wrap: wrap;
    width: 100%;
}

.title_and_content_hld {
    width: 40%;
    /* max-width: 800px; */
    display: block;
    overflow: hidden;
    /* height: 50px; */
}

.title_and_content_hld h1 {
    font-size: 40px;
}

.title_and_content_hld p {
    /* padding-top: 30px; */
    font-size: 18px;
    text-align: justify;
    line-height: 1.8rem;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
}

.story_image_hld {
    width: 30%;
    object-fit: cover;
    position: relative;
    z-index: 11111;
}

.story_image_hld img {
    width: 100%;
    position: relative;
    z-index: 111111;
}

#first_client .story_image_hld {
    transform: scale(.7);
}

#newOffice .story_image_hld {
    transform: scale(.8);
}

#awards .story_image_hld {
    transform: scale(.6);
}

#awards .title_and_content_hld,
#awards .story_image_hld {
    margin-top: -100px;

}

/* .white_layer{
    width: 25%;
    height: 900px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.odd_layer{
    left: 0;
    right: auto;
} */


/* video play button */
/* .blurEffect {
    -webkit-filter: blur(7px);
    -o-filter: blur(7px);
    -moz-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
} */

.content {
    position: absolute;
    display: inline-block;
    transform: translate(-60%, -50%);
    top: 50%;
    left: 50%;
    color: black;
    width: 100%;
    text-align: center;
    z-index: 999;
}

.play {
    font-size: 50px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 30%;
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
}

.story_image_hld video {
    width: 80%;
    /* margin-top: 150px; */
}

.play:hover {
    color: #0090ee;
}



/* cards animation classes */
.story_pandemic_phase {
    right: -3000px;
    opacity: 1;
}

.story_first_client {
    opacity: 1;
    bottom: -1500px;
}

.story_newOffice {
    right: -3000px;
    opacity: 1;
    top: 80px;
}

.story_award {
    opacity: 1;
    bottom: -1500px;
}

.showBegining {
    opacity: 1;
}

.showPandemic {
    opacity: 1;
    right: 0;
}

.showClient {
    opacity: 1;
    bottom: -80px;
}

.showOffices {
    opacity: 1;
    right: 0;

}

.showAwards {
    opacity: 1;
    bottom: -80px;
}





/* story_next_pre_buttons */

.story_next_pre_buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 20px;
}

.story_next_pre_buttons {
    display: flex;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    bottom: 20px;
    align-items: center;

}

.story_page_no {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    /* background-color: #141414; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.story_prev_button,
.story_next_button {
    width: 80px;
    height: 50px;
    cursor: pointer;
}

.next_arrow:active {
    transform: translateX(10px);
    transition: all .2s ease-in-out;
}

.prev_arrow:active {
    transform: translateX(-10px);
    transition: all .2s ease-in-out;
}

@media screen and (max-width:1400px) {
    .storyCard-container {
        gap: 2vw;
    }

}

@media screen and (max-width:1200px) {
    .white_layer {
        opacity: 0;
    }
}

@media screen and (max-width:700px) {
    .story-container-hld {
        display: block;
        padding-bottom: 100px;
        justify-content: center;
    }

    .storyCard-container {
        padding: 0;
        width: 100%;
        display: block;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .story_image_hld {
        padding-top: 10px;
        width: 90%;
    }

    .title_and_content_hld {
        display: block;
        width: 90%;
        padding: 0;
    }

    .title_and_content_hld p {
        font-size: 18px;
    }

    .story_begining {
        padding-top: 50px;
        /* height: 1500px; */
    }

    .story_begining .storyCard-container {
        height: 1450px;
    }

    .story_begining .title_and_content_hld {
        /* transform: translateY(60vw); */
        display: block;
        position: relative;
        width: 90%;
        padding: 0;

    }

    .story_begining .story_image_hld {
        /* padding-top: 60px; */
        width: 90%;
    }

    .title_and_content_hld h1 {
        font-size: 30px;
    }

    .story_pandemic_phase {
        padding-top: 40px;
    }

    .story_pandemic_phase .storyCard-container {
        height: 1300px;
    }

    .story_pandemic_phase .title_and_content_hld {
        transform: translateY(0);
    }

    .story_pandemic_phase .story_image_hld {
        transform: translateY(0);
    }

    .story_first_client .storyCard-container {
        height: 1150px;
        /* bottom: 0; */
    }
   
    .story_first_client .title_and_content_hld {
       margin-top: 150px;
    }

    .story_first_client .story_image_hld {
        /* transform: translateY(-350px); */
        width: 400px;
        /* margin-left: 15px; */
        margin-top: -50px;
    }

    #newOffice {
        padding-top: 50px;
        margin-top: -100px;
    }

    #newOffice .story_image_hld {
        transform: scale(1);
        margin-top: 100px;
    }

    .story_newOffice .storyCard-container {
        top: 0;
        height: 1200px;
        z-index: 1111111;
    }

    .story_newOffice .title_and_content_hld {
        transform: translateY(20px);
    }

    .story_award .storyCard-container {
        height: 1400px;
        padding-top: -800px;
    }

    .story_award .title_and_content_hld {
      padding-top: 250px;
}

    #awards .story_image_hld{
        margin-top: -40px;
        transform: scale(.8);
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
}

}



/* .story_mobile_view{
    display: none;
} */

/* mobile layout */


/* .story_mobile_view{
    height: 1500px;
    vertical-align: baseline;
    position:fixed;
    flex-direction: column;
    background-color: black;
}
.storyCard-container_mobile{
    background-color: black;
    padding: 100px 20px;
    overflow-y: scroll;
    height: 15000px;

}
.title_and_content_hld_mobile h1{
    color: #fff;
    font-size: 35px;
    padding-top: 20px;
}
.title_and_content_hld_mobile p{
    color: rgba(255,255,255,0.6);
    font-size: 18px;
    text-align: justify;
    padding-top: 10px;
}
.story_image_hld_mobile{
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
.story_image_hld_mobile img{
    width: 100%;
} */


/* parallax animation */
/* .story_pandemic_phase_mobile{
    position: relative;
    opacity: 1;
    top: 200px;
    z-index: 2;
    background-color: black;
    transition: all 2s;
  }
  .story_first_client_mobile{
      opacity: 1;
      bottom: -1000px;
  }
  .story_newOffice_mobile{
      right: -1800px;
      opacity: 1;
      top: 80px;
  }
  .story_award_mobile{
      opacity: 1;
      bottom: -1000px;
  }
  .showPandemic_mobile{
    top: -1300px;
  }
  .showClient_mobile{
      opacity: 1;
      bottom: -135px;
  }
  .showOffices_mobile{
      opacity: 1;
      right: 0;
      
  }
  .showAwards_mobile{
      opacity: 1;
      bottom: -135px;
  } */