nav {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 1000;
  margin: 0;
  padding: 0 80px;
  color: white;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  overflow: hidden !important;
  -o-overflow: hidden !important;
  -moz-overflow: hidden !important;
  -webkit-overflow: hidden !important;

}

nav label,
nav input {
  display: none;
}

#nav-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* width: fit-content;
    margin: 15px auto;
    align-self: flex-start; */
}

.glass {
  background: rgb(20, 22, 25, 0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(50px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

#logo {
  margin-right: 40px;
  width: 180px;
}

#logo-holder {
  align-self: center;
  display: flex;
  /* justify-content: space-between; */
}

#nav-items-holder {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-self: center;
  text-align: center;
}

#n-home,
#n-about,
#n-services,
#n-portfolio,
#n-ourstory{
  align-self: center;
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  /* background-color: #fff; */
}

#contacto {
  align-self: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  color: #0090ee;
  text-align: center;
}
.n_link{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
text-decoration: none;
color: #fff;
}

#n-home:hover,
#n-about:hover,
#n-services:hover,
#n-portfolio:hover,
#contacto:hover,
.n_link:hover{
 color: #3ea7ed;
 cursor: pointer;
}

#nav-items-holder > div > div > img {
    height: 14px;
    width: auto;
    margin-left: 10px;
  }
  

@media only screen and (min-width: 1201px) {
  .header-open {
    height: 420px !important;
  }

  .header-close {
    height: 85px !important;
  }

}

@media only screen and (max-width: 1200px) {
  nav {
    overflow: hidden;
  }

  #logo {
    margin-top: -15px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 180px;
  }

  .d-flex-icon {
    padding-left: 30px;
    width: 100%;
  }

  #nav-items-holder,
  #nav-container {
    flex-direction: column;
    height: fit-content;
    display: none;
  }

  #logo-holder {
    /* align-self: flex-start;
    flex-direction: column;
    align-items: flex-start; */
    width: 100%;
    padding: 0;
  }

  #n-home,
  #n-about,
  #n-services,
  #n-portfolio,
  #n-ourstory{
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0px 0px 50px 0px;
  }

  #n-home,
  #n-about,
  #n-services,
  #n-portfolio,
  #contacto,
  #n-ourstory {
    cursor: pointer;
  }

  .col2,
    .col1 {
      margin-left: 20px;
      text-align: left;
    }

  .glass {
    height: 85px;
  }

  #nav-container {
    display: flex;
    width: 100%;
    margin: 15px 0px;
    align-self: flex-start;
  }

  .mobile-open {
    height: 100vh;
  }

  .mobile-closed {
    height: inherit;
  }

  .nav-options-active {
    display: block !important;
  }

  .nav-options-inactive {
    display: none !important;
  }


  /**
    Hamburger
  **/
  nav label {
    display: block;
  }

  nav-container {
    width: 100%;
  }

  nav {
    padding: 0;
  }

  .hamburger {
    position: absolute;
    /* top: em; */
    right: 40px;
    /* margin-left: -2em; */
    /* margin-top: -45px; */
    width: 1em;
    height: 25px;
    z-index: 9000;
    cursor: pointer;
  }

  .hamburger div {
    position: relative;
    width: 2em;
    height: 4px;
    border-radius: 3px;
    background-color: white;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }

  /**
  Animations
  **/
  #toggle:checked+.hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 21px;
  }

  #toggle:checked+.hamburger .bottom-bun {
    transform: rotate(45deg);
    margin-top: -3px;
  }

  #toggle:checked+.hamburger .meat {
    opacity: 0;
    margin-top: -5px;
    transform: translateX(50px);
  }

}

@media screen and (max-width:480px) {
  #logo{
    width: 150px;
    margin-left: 5px;
  }
 
  #n-home,
  #n-about{
    margin-left: 8px;
  }
  
}

.dropdown-content{
  display:none;
  flex-direction:column;
}

.dropdown .drop-btn {
  font-size: 19px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 12px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}