/* layer for web animation */
.a-layer{
    content: "";
    position: relative;
    z-index: 10;
    background-color: rgb(240, 240, 215);
    width: 60%;
    height: 600px;
    bottom: -760px;
    left: -1300px;
    transition: all 1.3s ease-in-out;
}

.a-layer_open{
    left: -30vw;
    transition: all 0.8s ease-in-out;
}

/* main container */
.a-container {
    margin-top: 500px;
    padding-top: 20px;
    background-color: #06283d;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.section_heading {
    margin-top: 50px;
    font-size: 50px;
    color: white;
    position: relative;
    z-index: 10;
    font-weight: 600;
}

.section_heading::after {
    content: "";
    display: block;
    width: 3.5em;
    /* max-width:50%; */
    border-bottom: 2px solid #0090ee;
    margin: 2px 30px;
}
.about_heading{
    margin-top: 20px;
}
.a_content {
    margin-top: -750px;
    width: 100%;
    display: flex;
    gap: 10rem;
    padding: 50px 0 0 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 100;
}

.a_content_img_hld {
    max-width: 600px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* position:absolute; */
    flex-wrap: wrap;
    position: relative;
    z-index: 100;
}

.a_content_img_hld img {
    width: 100%;
    /* height: 500px; */
    position: relative;
    /* z-index: 100; */
}

.about_content_desc {
    width: 40%;
    color: rgba(255,255,255,0.7);
    font-size: 18px;
    line-height: 2rem;
    text-align: justify;
    position: relative;
    left:-50px;
    z-index: 100;
}

.about_content_desc_btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 15px;
    max-width: 200px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}
.about_content_desc_btn::before{
    content: "";
    width: 18rem;
    height: 5rem;
    position:absolute;
    top: -80px;
    background-color: #0090ee;
    border-radius: 70%;
    transition: all .4s ease-in-out;
    z-index: -1;
  }
  .about_content_desc_btn:hover:before{
    top: -15px;
    transition: all .4s ease-in-out;
  }

@media screen and (max-width:1260px) {
    .a_content{
        gap: 5rem;
        position: relative;
        top:200px;
        padding-bottom: 500px;
    }

    .about_content_desc {
        font-size: 20px;
        line-height: 1.4rem;
        position: relative;
        margin-bottom: 100px;
    }

    .a-layer{
        position: relative;
        bottom: -550px;
        transition: all 1s ease-in-out;
    }
    
    .a-layer_open{
        transition: all 0.5s ease-in-out;
    }

.about_content_desc_btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 15px;
    max-width: 200px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}
.about_content_desc_btn::before{
    content: "";
    width: 18rem;
    height: 5rem;
    position:absolute;
    top: -80px;
    background-color: #0090ee;
    border-radius: 70%;
    transition: all .4s ease-in-out;
    z-index: -1;
  }
  .about_content_desc_btn:hover:before{
    top: -15px;
    transition: all .4s ease-in-out;
  }
    
}

@media screen and (max-width: 920px) {
    .a_content{
        top: 100px;
        gap: 7rem;
    }
   .a_content_img_hld{
    width: 45%;
    top: -20px;
   }
   .a-layer{
    bottom: -670px;
   }
}

@media screen and (max-width:1200px) {
    .a_content{
        gap: 1rem;
    }
}

@media screen and (max-width: 920px) {
    .a-container h1 {
        font-size: 35px;
        /* margin-bottom: 50px; */

    }

    .a_content img {
        width: 80%;
        height: 80%;
        /* margin-left: -70px; */
    }

    .a_content {
        width: 100%;
        gap: 1rem;
    }

    .content_more {
        margin-left: -60px;
        margin-top: 10px;
        width: 70%;
    }
    .about_content_desc{
        font-size: 20px;
        line-height: 1.5rem;
    }
    .about_content_desc_btn{
      width: 150px;
        font-size: 25px;
    }
}

@media screen and (max-width:480px) {
    .a-container {
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .a-layer{
        display: none;
    }
    .about-btn-box {
        margin-bottom: 50px;
        padding-bottom: 80px;
    }
    .section_heading {
        font-size: 30px;
    }
    .a_content {
        gap: 0;
        margin-top: -80px;
        padding: 0px;
    }
    .a_content img {
        width: 100%;
        height: 100%;
        padding-top: 0;
    }
    .about_content_desc {
        font-size: 16px;
        line-height: 1.4rem;
        width: 100%;
        position: relative;
        padding: 0 15px;
        margin-top:-40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        left: 0;
    }
    .a_content_img_hld{
        width: 100%;
    }
    .about_content_desc_btn{
        font-size: 18px;
        padding: 6px 6px;
        border-radius: 10px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 40px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
}