.contact_home_container{
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(254,255,254,0.2) ;
  height: fit-content;
  /* padding: 80px; */
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: auto;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
}


.adarsh-form {
    /* border-radius: 2rem; */
    display: flex;
    width: 80%;
    /* height: 100%; */
    /* height: 90vh; */
    border: 1px solid #fff;
    margin: auto;
    background-color: #06283d;
    position: relative;
    z-index: 10;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
    border-radius: 20px;
  }
  
  .adarsh-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    /* margin-left: 15rem; */
    justify-content: left;
    align-items: center;
    /* gap:100px; */
  }
  
  .adarsh-bottom-main {
    /* margin-top: -10rem; */
    width: 70%;
    height: 350px;
    background-color: #06283d;
    z-index: 0;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
    position: relative;
    top: -100px;
  }
  
  .adarsh-bottom1 {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* .adarsh-bottom2 {
    width: 100%;
    height: 100%;
    position: relative;
    top: -350px;

    box-shadow: 6rem 0rem 3rem 6.5rem #06283d inset; */
    /* box-shadow: 0rem 2rem 3rem 5.5rem #06283d inset; */
    /* box-shadow: 0rem -2rem 3rem 7.5rem #06283d inset; */
    /* box-shadow: -2rem 0rem 3rem 6.5rem #06283d inset; */
    /* box-shadow: inset 0 0 5rem -12rem #444444; */
   
    /* z-index: 1; */
    /* transform: translateY(-100%); */
    /* border: none; */
  /* } */
  
  .adarsh-map {
width: 100%;
height: 100%;
  
    opacity: 1;
    /* margin-left: -12rem; */
  /* margin-right: 1rem; */

    /* box-shadow: inset 0 0 15px -2px #444444; */
  }
  
  .adarsh-top {
    display: flex;
    flex-direction: column;
    text-align: left;
    z-index: 1;
    height: 50vh;
    /* margin-left: 2rem; */
    
  }
  
  .adarsh-right {
    width: 30%;
   display: flex;
   flex-direction: column;
   /* justify-content: flex-start; */
   /* padding: 50px; */
   /* align-items: flex-start; */
   padding: 20px 80px;
  }
  .adarsh-form-border{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    justify-content: left;
    text-align: left;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .adarsh-heading {
    font-size: 5rem;
    color: white;
    padding: 0.8rem;
    margin-top: 1.6rem;
    margin-left: -12rem;
  }
  
  .adarsh-text {
    margin-left: -1rem;
    /* width: 30vw; */
  
    color: black;
    padding-top: 2.5rem;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 2rem;
  
    margin-right: 1.2rem;
  
    border-bottom-color: #0090ee;
  }

  .adarsh-heading-next{
    font-size: 5rem;
    color: white;
    padding: 0.8rem;
    margin-top: -2rem;
    margin-left: -12rem;
    
    
    /* margin-left: rem; */
  }
  
  .adarsh-btnn {
  
    background-color: #0090ee;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
    max-width: 150px;
    font-size:20px;
    /* margin: auto; */
    border: none;
    padding: 7px 50px;
    position: relative;
    left: -15px;
  }
  .adarsh-btnn:hover {
    background-color: #0070bd;
    cursor: pointer;
  }
  
  .adarsh-check {
    margin-top: 1.2rem;
  }
  
  .adarsh-image {
    width: 6vw;
    height: 10vh;
  
    background-color: black;
    color: white;
  }
  .adarsh-imageDiv {
    margin-top: -3rem;
  
    width: 20vw;
    height: 8vh;
  
    display: flex;
    margin-top: 1.8rem;
  }
  
  input:focus,
  textarea:focus,
  style:focus
  {
    outline: none;
    color: white;
   
   
  }
  input, select, textarea{
    color: white;
    /* margin-left: 1rem; */
   width: 100%;

}


input[type="text"], textarea {

 color : white; 
 font-size: 18px;
 /* margin-left: 1rem; */
 /* padding: 1rem; */

}

input[type="tel"], textarea {

  color : white; 
 font-size: 18px;

  /* padding: 1rem; */
 
 }

 input[type="email"], textarea {

  color : white; 
 font-size: 18px;

  /* padding: 1rem; */
 
 }


  
  .adarsh-text::placeholder {
    color: white;
    font-size: 1.5rem;
    padding-left: .2rem;
   
   
  }



  /* mobile responsive  */
  
  @media screen and (max-width: 600px) {
    .adarsh-form {
      /* display: flex; */
      /* justify-content: center; */
      /* align-items: center; */
      width: 100vw;
      /* height: 90vh; */
      padding-bottom: 50px;
      /* margin-top: -15rem; */
      flex-direction: column;
      /* border: 2px solid red; */
    }
  
    .adarsh-left {
      display: flex;
      justify-content: center;
      flex-direction: row;
      /* margin-left: 5rem; */
      margin: auto;
      /* border: 2px solid yellow; */
    }
  
    .adarsh-right {
      /* border: 2px solid orange; */
      display: flex;
      
      justify-content: center;
      flex-direction: column;
      margin: auto;
      margin-top: -21rem;
      margin-left: 0rem;
      margin-right: 2rem;
      /* margin-bottom: -2rem; */
    }
  
    .adarsh-top {
      z-index: 1;
      width: 70vw;
      height: 20vh;
      /* border: 2px solid red; */
      margin-bottom: 16rem;
      margin-left: 0rem;
      margin-top: 1rem;
    }
  
    .adarsh-heading {
      width: 70vw;
      font-size: 32px;
      margin-left: -1rem;
      margin-top:6.2rem;

    }

    .adarsh-heading-next{
      width: 70vw;
      font-size: 32px;
      margin-top: -1.5rem;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom-color: #0090ee;
      
      /* margin-left: rem; */
    }

    /* .adarsh-heading-next::after{
      content: "";
      display: block;
      width: 3.5em;
  
      border-bottom: 2px solid #0090ee;
      margin: 2px 84px;
    } */
  
    .adarsh-bottom-main {
      display: none;
    }
  
    /* .adarsh-imageDiv {
      width: 75vw;
    } */
  
    .adarsh-btnn {
      /* display: flex; */
      /* justify-content: center; */
      /* align-items: center; */
      margin-left: 7.2rem;
      /* margin-top: 1rem; */
      /* padding: 0.2rem; */
      padding: 2px 82px;
      /* margin: auto; */
      font-size: 20px;
      /* padding-bottom: 5px; */
      border: none;
      margin-top: 1rem;
      padding-left: 28px;
      margin-bottom: 1rem;
      /* margin: auto; */
    }

    .adarsh-text {
      margin-left: 2rem;
      width: 55vw;
      color: black;
      padding-top: 1.6rem;
      background-color: transparent;
      border-top: none;
      border-right: none;
      border-left: none;
      font-size: 1rem;
  
      /* margin-right: 1.2rem; */
      margin-top: 2rem;
  
      border-bottom-color: #0090ee;
    }

    .adarsh-form-border{
      border: 2px solid white;
      border-radius: 1rem;
      /* margin-left: 4.5rem; */
      width: 85vw;
      height: 120vw;
      margin-left: 2rem;
      margin-right: 1rem;
      margin-top: 12rem;
      /* padding-bottom: 20rem; */
    }

    input:focus,
  textarea:focus,
  style:focus
  {
    outline: none;
    color: white;
   
   
  }
  input, select, textarea{
    color: white;
  


}

input[type="text"], textarea {

 color : white; 
 font-size: 16px;
 padding: 1rem;


}

input[type="tel"], textarea {

  color : white; 
  font-size: 16px;
  padding: 1rem;
 
 
 }

 input[type="email"], textarea {

  color : white; 
  font-size: 16px;

  padding: 1rem;
 
 }


  
  .adarsh-text::placeholder {
    color: white;
    font-size: 16px;
    /* padding-left: .2rem; */
   
   
  }
  }
  
  @media screen and (min-width: 600px) and (max-width: 1500px) {
    .adarsh-form {
      /* border-radius: 2rem; */
      display: flex;
      width: 100vw;
      height: 90vh;
      margin: auto;
      background-color: #06283d;
      position: relative;
      z-index: 10;
      justify-content: center;
      
    }
    
    .adarsh-left {
      width: 50vw;
    
      display: flex;
      flex-direction: column;
      padding: 0.2rem;
      margin-left: 15rem;
    }
    
    .adarsh-bottom-main {
      margin-top: -10rem;
    
      background-color: #06283d;
      z-index: 0;
    
      position: relative;
    
      border: none;
    }
    
    .adarsh-bottom1 {
      background: transparent;
      border: none;
    }
    
    .adarsh-bottom2 {
      width: 80%;
      height: 100%;
      position: absolute;
    
  
      box-shadow: 6rem 0rem 3rem 6.5rem #06283d inset;
      box-shadow: 0rem 2rem 3rem 5.5rem #06283d inset;
      /* box-shadow: 0rem -2rem 3rem 7.5rem #06283d inset; */
      box-shadow: -2rem 0rem 3rem 6.5rem #06283d inset;
      /* box-shadow: inset 0 0 5rem -12rem #444444; */
     
      z-index: 0;
      transform: translateY(-100%);
      border: none;
      object-fit: cover;
    }
    
    .adarsh-checkSpan {
      color: white;
    }
    .adarsh-map {
      width: 30vw;
      height: 55vh;
    
      border-radius: 4rem;
      opacity: 1;
      margin-left: -12rem;
    /* margin-right: 1rem; */
  
      /* box-shadow: inset 0 0 15px -2px #444444; */
    }
    
    .adarsh-top {
      z-index: 1;
      height: 50vh;
    
      margin-left: 2rem;
    }
    
    .adarsh-right {
      width: 50vw;
      margin-top: 9rem;
      margin-left: -4em;
  
    }
    
    .adarsh-heading {
      font-size: 5rem;
      color: white;
      padding: 0.8rem;
      margin-top: 1.6rem;
      margin-left: -12rem;
    }
    
    .adarsh-text {
      margin-left: -1rem;
      /* width: 30vw; */
    
      color: black;
      padding-top: 2.5rem;
      background-color: transparent;
      border-top: none;
      border-right: none;
      border-left: none;
      font-size: 2rem;
    
      margin-right: 1.2rem;
    
      border-bottom-color: #0090ee;
    }
  
    .adarsh-heading-next{
      font-size: 5rem;
      color: white;
      padding: 0.8rem;
      margin-top: -2rem;
      margin-left: -12rem;
      
      
      /* margin-left: rem; */
    }
    
    .adarsh-btnn {
      margin-left: 9rem;
    
      background-color: #0090ee;
      color: white;
      /* padding: 0.5rem; */
      border-radius: 1.8rem;
      width: 9vw;
  
      font-size: 1.3rem;
      border: none;
      cursor: pointer;
      height: 6vh;
    }
    .adarsh-btnn:hover {
      background-color: #0070bd;
    }
    
    .adarsh-check {
      margin-top: 1.2rem;
    }
    
    .adarsh-image {
      width: 6vw;
      height: 10vh;
    
      background-color: black;
      color: white;
    }
    .adarsh-imageDiv {
      margin-top: -3rem;
    
      width: 20vw;
      height: 8vh;
    
      display: flex;
      margin-top: 1.8rem;
    }
    
    input:focus,
    textarea:focus,
    style:focus
    {
      outline: none;
      color: white;
     
     
    }
    input, select, textarea{
      color: white;
      /* margin-left: 1rem; */
  
  
  }
  
  input[type="text"], textarea {
  
   color : white; 
   font-size: 1.8rem;
   /* margin-left: 1rem; */
   /* padding: 1rem; */
  
  }
  
  input[type="tel"], textarea {
  
    color : white; 
   font-size: 1.8rem;
  
    /* padding: 1rem; */
   
   }
  
   input[type="email"], textarea {
  
    color : white; 
   font-size: 1.8rem;
  
    /* padding: 1rem; */
   
   }
  
  
    
    .adarsh-text::placeholder {
      color: white;
      font-size: 1.5rem;
      padding-left: .2rem;
     
     
    }
  
  }