
  
  .adarsh-contactContainer {
    width: 100vw;
    height: 90vh;
    background-color: #06283d;
    margin-top: -8.4rem;
    z-index: 0;
    padding-bottom: 25rem;
  }
  
  .adarsh-main {
    width: 65vw;
    height: 90vh;
  
    margin: auto;
    display: flex;
    margin-top: 8rem;
  
  
    box-shadow: 10px 0px 8px rgba(128, 128, 128, 0.432),
      -10px 0px 8px rgba(128, 128, 128, 0.432),
      0px 10px 8px rgba(128, 128, 128, 0.432);
   
  }
  
  .adarsh-main-head {
    font-size: 5rem;
    color: white;
    margin-left: 14rem;
    margin-top: 8rem;
    padding-top: 6rem;
  }
  
  .adarsh-leftCont {
    width: 70vw;
    height: 90vh;
  
    background-color: white;
  }
  .adarsh-rightCont {
    width: 30vw;
    height: 90vh;
  
    background-color: rgb(36, 35, 35);
  }
  
  .adarsh-first {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
  
    margin-top: 4rem;
  
    margin-right: 6rem;
  }
  
  .adarsh-second {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-right: 4rem;
  
    padding: 1rem;
  }
  
  .adarsh-name {
    color: black;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 1.2rem;
  }
  .adarsh-name1 {
    width: 47vw;
    margin-left: -3rem;
    color: black;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 1.2rem;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  input::placeholder {
    padding-bottom: 2rem;
  }
  
  .adarsh-submitBtn {
    background-color: #0090ee;
    color: white;
    width: 10vw;
    height: 6vh;
    border: none;
    border-radius: 4rem;
    margin-left: 12rem;
    font-size: 1rem;
    margin-top: 4rem;
  }
  
  .adarsh-submitBtn:hover {
    background-color: #0070bd;
  }
  
  .adarsh-info {
    color: white;
    margin-top: 1rem;
  
    margin-left: 1rem;
  }
  
  .adarsh-head {
    margin-left: 4rem;
    margin-top: 1rem;
  }
  
  .adarsh-number {
    color: white;
  
    margin-bottom: 2rem;
  
    width: 14vw;
    margin-top: 1.3rem;
    padding: 1rem;
  }
  
  .adarsh-telephone {
    display: flex;
    flex-direction: row;
  }
  
  .adarsh-mapped {
    width: 18vw;
    margin-left: 1rem;
    margin-top: 2rem;
    border: none;
  }
  
  /* #06283d */
  /* 0090ee  btn */
  
  /* 0070bd  hover */
  
  @media screen and (max-width: 600px) {
    .adarsh-contactContainer {
      width: 100vw;
      height: 60vh;
      margin-top: -11.8rem;
    }
  
    .adarsh-main {
      width: 65vw;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      margin-left: 4rem;
      box-shadow: 10px 0px 8px rgba(128, 128, 128, 0.432),
        -10px 0px 8px rgba(128, 128, 128, 0.432),
        0px 10px 8px rgba(128, 128, 128, 0.432);
      margin-top: 7.5rem;
    }
  
    .adarsh-main-head {
      font-size: 3.4rem;
      margin-left: 3rem;
      margin-top: 12rem;
      padding-top: 8rem;
    }
  
    .adarsh-submitBtn {
      width: 32vw;
      margin-left: 4rem;
      margin-bottom: 2rem;
    }
  
    .adarsh-rightCont {
      width: 70vw;
      height: 90vh;
      margin: auto;
      margin-left: -1rem;
    }
  
    .adarsh-iconn {
      width: 16vw;
      height: 16vh;
    }
  
    .adarsh-mapped {
      display: none;
    }
  
    .adarsh-icon1 {
      size: 2rem;
    }
    .adarsh-number {
      width: 6vw;
      font-size: 1.2rem;
    }
  
    .adarsh-telephone {
      margin-left: 2rem;
    }
    .adarsh-info {
      margin-left: 5rem;
    }
  
    .adarsh-name {
      font-size: 1.5rem;
    }
  
    .adarsh-first {
      margin-left: 1rem;
      margin-right: 2rem;
    }
  
    .adarsh-head {
      margin-left: 6rem;
    }
  
    .adarsh-leftCont {
      width: 75vw;
      height: 90vh;
      margin-left: -1rem;
    }
  }
  
  @media screen and (min-width: 780px) and (max-width: 1000px) {
    .adarsh-main {
      width: 70vw;
    }
  
    .adarsh-leftCont {
      width: 40vw;
    }
    .adarsh-rightCont {
      width: 330vw;
      padding-left: 1rem;
    }
    .adarsh-mapped {
      width: 23vw;
      height: 23vh;
      margin-left: 2rem;
      margin-top: 2rem;
    }
  
    .adarsh-submitBtn {
      width: 20vw;
      margin-left: 6rem;
      margin-bottom: 2rem;
    }
    .adarsh-head {
      margin-left: 8rem;
    }
  
    .adarsh-iconn {
      width: 8vw;
      height: 16vh;
    }
    .adarsh-number {
      width: 6vw;
      font-size: 1.3rem;
    }
  }
  
