.Footer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    padding: 10px 0 0 0;
    border-top: 1px solid rgba(254,255,254,0.2) ;
    position: relative;
    z-index: 100;

}
.footerUp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    /* padding-right: 30px; */
    gap: 20vw;
}
.footer_logo_hld{
    width: 200px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}
.feedbox_logo{
    /* display: block; */
    width: 250px;
    margin-left: -20px;
}
.feedbox_logo img{
    width: 100%;
}
.footer_logo_hld p{
    width: 100px;
}
.footer_indexes_hld{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    font-size: 18px;
}
.footer_indexes{
    display: flex;
    gap: 4rem;
}
.index_col{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.index{
    display: flex;
    align-items: center;
}
.index a{
    text-decoration: none;
    outline: none;
    color: white;
}
.footer_social_media{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 2rem;
 font-size: 25px;
}
.social_icons{
    display: flex;
    gap: 2rem;
    /* color: #fff; */
}
.social_icons a{
    color: #fff;
}
.footerDown{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
.footerDown p{
    display: flex;
    align-items: center;
    text-align: center;
}
.index:hover{
    cursor: pointer;
    color: #0090ee;
}

@media screen and (max-width: 1300px){
    .footerUp{
        gap: 5vw;
        /* margin-top: -20px; */
        
    }
    .feedbox_logo{
        width: 220px;
    }
  }
  @media screen and (max-width:600px) {
   .Footer{
    padding-top: 40px;
   }
    .feedbox_logo_hld{
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .feedbox_logo{
        margin-left: -40px;
        margin-top: -30px;
        width: 300px;
    }
    .footer_logo_hld p{
        width: 200px;
        text-align: center;
        font-size: 20px;
    }
    .footer_indexes{
        gap: 15vw;
        font-size: 18px;
        /* padding-right: 30px; */
        opacity: 0.7;
    } 
    .mobile_view{
        visibility: hidden;
    }
    .footerDown{
        font-size: 20px;
    }
    .footer_social_media{
        font-size: 20px;
    }
    .footer_indexes_hld{
        font-size: 20px;
    }
  }