@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Philosopher&family=Poppins:wght@300;400;600;800&family=Rubik+Storm&family=Special+Elite&display=swap');
* {
  /* background-color: #06283D; */
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* cursor: none; */
}


/* for chrome, webkit browser */
::-webkit-scrollbar {
  display: none;
}

/* for firefox */
html {
  scrollbar-width: none;
}

.links-container {
  display: grid;
  place-items: center;
  row-gap: 40px;
}

.App {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: auto;
}

.loading_container {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-out;
}

.loading_container video {
  width: 100%;
  height: 700px;
  transition: all .5s ease-out;
}

/* fading effect after loadinf */
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: white;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  opacity: 0;
  transition: all .1s;
}
@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

  /* scroll to top button */
  .scrollBottomToTop {
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 50px;
    height: 50px;
    background-color: #141619;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 10000;
    /* opacity: 0; */
    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 48px, rgba(255, 255, 255, 0.1) 0px 10px 12px;
    visibility: hidden;
    transition: all .2s;
  }

  .showButton {
    /* opacity: 1; */
    visibility: visible;
    transition: all .2s;
  }

  .scrollBottomToTop:active {
    width: 40px;
    height: 40px;
  }

  /* .scrollToTopHover{
  position: fixed;
  bottom: 30px;
  right: 35px;
  color: rgb(255,255,255,0.5);
  font-size: 18px;
  z-index: 1000;
  transition: all .2s;
  opacity: 0;
} */
  .scrollBottomToTop:hover {
    cursor: pointer;
  }

  /* .showScrolldesc{
  opacity: 1;
} */


  /* custom cursor */
  #cursor {
    /* display: inline-block; */
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0%;
    left: 0%;
    border-radius: 1%;
    opacity: 1;
    transition: all .3s;
    margin-top: -0px;
    z-index: 9999999999;
    background: none;
    /* translate: transform(100px, 100px); */
  }

  #pointer {
    width: 50px;
    display: flex;
    justify-content: start;
    position: absolute;
    top: 100px;
    /* left: 100px; */
    transform: translate(-50%, 1%);
    border-radius: 50%;
    opacity: 1;
    transition: all .1s;
    background: none;
  }

  @media screen and (max-width:480px) {
    .scrollBottomToTop {
     bottom: 30px;
     right: 20px;
    }
  }

 
